@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["MyTomTomKey"] = "";
}
<head>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.0.0/maps/maps-web.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the Clarity Votes ClearMap tool!</h1>
        <h1>ClearMaps Testing Site</h1>
    </div>
    <div id="map" style="margin-left:auto;margin-right:auto; width: 800px; height: 600px;"></div>
    <input="myTomtomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
    @section Scripts {
        <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.0.0/maps/maps-web.min.js"></script>
        <script>
            var myTomtomKey = document.getElementById('myTomtomKey').value;
            var map = tt.map({
                key: myTomtomKey,
                container: 'map',
                style: 'tomtom://vector/1/basic-main',
                center: [-86.7816, 36.1627], // Davidson County, TN coordinates
                zoom: 10 // Set the initial zoom level
            });</script>
    }


</body>

